*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
}

html {
  font-family: 'Inter';
  font-style: normal;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1278px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 8px;
  font-size: 15px;

  & > .container {
    background: #F0F0F0;
  }
}

.header-menu-logo {
  margin-right: 38px;
}

.header-menu-items {
  display: flex;
  gap: 32px;
  align-items: center;

  > div {
    cursor: pointer;
  }
}

.header-menu-control {
  display: flex;
  gap: 22px;

  > * {
    cursor: pointer;
  }
}

.header-menu-container {
  background: #F0F0F0;
}

.menu-item {
  white-space: nowrap;
}

.menu-down-img {
  margin-left: 8px;
}

.header-contacts {
  display: flex;
  align-items: flex-start;
  margin-left: 32px;
  margin-right: 16px;

  img {
    margin: 2px 8px 0 0;
  }

  .contacts-phone-number {
    font-size: 17px;
    line-height: 21px;
    font-weight: 500;
  }

  .contacts-free-call {
    font-size: 11px;
    line-height: 13px;
    color: #85949C;
  }
}

.header-main-banner {
  background: 
    url('/images/banner-rectangles.svg'),
     linear-gradient(90deg, #661032 0%, #661032 40%, rgba(217, 217, 217, 0) 60%),
      no-repeat right url("/images/mash21.png"), 
    #661032;
  background-size: auto, auto, cover;
  padding: 137px 29px;
  position: relative;
}

.header-main-banner-dots {
  position: absolute;
  bottom: 24px;
  left: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1278px;


  > div {
    border: 1px solid white;
    border-radius: 100%;
    width: 14px;
    height: 14px;

    &:first-child {
      border-width: 2px;
    }
  }
}

.header-main-text {
  max-width: 581px;
}

.header-main-banner-title {
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  color: #fff;
  margin-bottom: 20px;
}

.header-main-banner-subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 52px;
}

.header-main-btn {
  width: 194px;
  height: 42px;
  font-weight: 500;
  font-size: 15px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #661032;
  border-radius: 5px;
  cursor: pointer;
}

.main-advantages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 47px;
}

.main-advantages-age {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-right: 93px;
}

.main-advantages-age-text {
  color:#5E6D76;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.main-advantages-text-items {
  display: flex;
  justify-content: space-between;
  gap: 76px;
}

.main-advantages-text-item {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
}

.header-burger-menu {
  display: none;
  cursor: pointer;
}

.hr-menu-mobile {
  margin: 13px 0 16px;
}

.submenu-items-mobile-close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.header-submenu-mobile {
  background: #fff;
  width: 564px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  bottom: 0;
  display: none;
}

.submenu-mobile-section {
  color: #661032;
  cursor: pointer;
}

.submenu-items-mobile {
  background: linear-gradient(180deg, rgba(201, 201, 201, 0) 0%, rgba(231, 231, 231, 0.8) 100%);
  padding-top: 30px;
  padding-left: 77px;
  padding-right: 36px;
}

.submenu-main-items-mobile {
  padding-left: 77px;
}

.header-submenu-item-mobile {
  padding-bottom: 17px;
  cursor: pointer;
  font-weight: 500;
}

.header-submenu-item-mobile:first-of-type {
  margin-top: 16px;
}

.header-menu-item-submenu {
  position: relative;
}

.header-submenu {
  position: absolute;
  display: none;
  z-index: 50;
  left: 0;
  top: 100%;
}

.submenu-items {
  margin-top: 24px;
  border-top: 1px solid #fff;
  background: #E7E7E7;
}

.header-submenu-item:hover { 
  background: #83929B;
  color: #fff;
}

.header-submenu-item {
  padding: 9px 53px ;
  text-align: center;
}

.header-submenu:hover {
  display: block;
}

.header-menu-item-submenu:hover { 
  

  > div:first-child {
    color: #661032;
  }

  .header-submenu {
    display: block;
  }
  img {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 1276px) {
  .container {
    padding: 0 22px;
  }

  .header-menu-items {
    display: none;
  }
  
  .header-burger-menu {
    display: block;
  }

  .main-advantages {
    justify-content: center;
    gap: 21px;
    
    .main-advantages-age {
      margin: 0;
    }

    .main-advantages-twenty-age-text img {
      width: 81px;
      height: auto;
    }

    .main-advantages-age-text {
      font-size: 12px;
    }

    .main-advantages-text-items {
      gap: 18px;
    }

    .main-advantages-text-item {
      width: 100%;
      max-width: 100%;
      justify-content: space-between;
      font-size: 15px;
      line-height: 18px;

      img {
        width: 25px;
        height: 30px;
      }
    }
  }

  .header-main-banner-title {
    font-size: 35px;
    line-height: 42px;
  }

  .header-main-banner-dots {
    padding-right: 16px;
  }
}

@media screen and (max-width: 768px) {
  .header-menu-logo {
    width: 125px;
    height: auto;
  }

  .header-menu-control {
    display: none;
  }

  .header-contacts {
    .contacts-phone-number {
      font-size: 15px;
    }

    .contacts-free-call {
      font-size: 9px;
    }
  }

  .header-main-banner-title {
    font-size: 29px;
    line-height: 35px;
  }

  .header-main-banner {
    padding-left: 0;
    padding-right: 0;
  }

  .main-advantages {
    padding-bottom: 22px;
    flex-wrap: wrap;
  }

  .main-advantages-text-items { 
    flex-wrap: wrap;
  }


  .header-main-banner-dots {
    padding-right: 0;
    justify-content: center;
  }
}